body {
  padding: 20px;
}

.container {
  background-color: darkgreen;
  width: 30%;
  display: grid;
  grid-template-rows: 20px;
  grid-template-columns: repeat(auto-fill, minmax(33%, auto));
}

.item {
  border: 1px solid black;
  background-color: cornflowerblue;
}
