body {
  padding: 20px;
}

.container {
  background-color: darkgreen;
  width: 30%;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: 50px 900px;

  grid-auto-rows: 100px; /*통제에서 벗어난 친구들을 통제*/
}

.item {
  border: 1px solid black;
  background-color: cornflowerblue;
}
